/* ของ Queue.js */

#box {
  overflow-y: scroll;
  height: 230px;
  background-color: white;
}
#boxshow {
  height: 78%;
}
/* ของ Labwait.js */
#boxLab {
  overflow-y: scroll;
  height: 230px;
  background-color: white;
}

#box2 {
  height: 350px;
  width: 900px;
  margin-left: 40px;
  margin-top: 1%;
}

#boxAdd {
  margin-left: 120px;
  width: 90px;
}
.ui.segment#display {
  background-color: white;
}
.ui.segment#headbar {
  background-color: #2185d0;
}

span.rbc-btn-group {
  background-color: white;
}
.react-datepicker-component {
  width: 50%;
  margin-top: 2%;
}

.rbc-off-range-bg {
  background: #f1f0f0 !important ;
}
.rbc-month-view {
  background-color: white;
}

/* hiiden scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* .active.item:after {
  background: #00a39b!important;
  background-color: #00a39b!important
} */

.ui.inverted.pointing.menu .active.item:after{
  background: #00a39b !important;
}

/* .rbc-event {
  padding: 2px 5px;
  background-color: #0c8a84;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
} */