/* ของ Queue.js */
#box{
    overflow-y: scroll; 
    height: 230px; 
    background-color: white;
    
    
    
}
#boxshow{
    height: 78%;
   
}
/* ของ Labwait.js */
#boxLab{
    overflow-y: scroll;
    height: 230px; 
    background-color: white;
}

#box2{
    height: 350px; 
    width: 900px;
    margin-Left: 40px;
    margin-top: 1%;
}

#boxAdd{
    margin-Left: 120px;
    width: 90px;
}
.ui.segment#display{
    background-Color:white ;

}
.ui.segment#headbar{
    background-color: #2185d0;
}



